html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  /* background-color: darkblue; */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.main-content {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  margin-top: 70px;
}


