/* Style for the header */
.header {
  display: flex;
  justify-content: space-between; /* Reverted to space-between */
  align-items: center;
  padding: 5px 30px; /* Adjusted padding for a more spacious feel */
  background-color: transparent;
  position: fixed; /* Make the header fixed at the top */
  top: 0; /* Always stay at the top of the viewport */
  left: 0; /* Align to the left side of the screen */
  width: 100%; /* Full width */
  height: 100px; /* Adjusted height */
  z-index: 1000; /* Ensures it's above other content */
}

.header-spacer {
  width: 200px; /* Adjust this value to match approximately the width of your buttons container */
}

.header-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the buttons */
}

.header-navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Reverted to full width */
  gap: 20px;
}

.logged-in-navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px; /* Add spacing between buttons */
}
